@import "fonts";
@import "reset";
@import "vars";

body {
  font-family: "Poppins", serif;
  color: @primary;
  font-size: 18px;

  background-color: @white;
}

/* Blocks */
@import "blocks/wrapper";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/intro";
@import "blocks/section-header";
@import "blocks/services";
@import "blocks/review";
@import "blocks/features";
@import "blocks/signin";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/social";