@font-face {
  font-family: DMSerifDisplay;
  font-display: swap;
  src: url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"), url("../fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PTSerif;
  font-display: swap;
  src: url("../fonts/PTSerif-Regular.woff2") format("woff2"), url("../fonts/PTSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 400;
  color: #626780;
  background-color: #fff;
}
/* Blocks */
.page {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
.header {
  width: 100%;
  max-width: 1600px;
  height: 116px;
  padding: 22px 0;
  background-color: rgba(196, 196, 196, 0.1);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 72px;
  height: 72px;
}
.header__title {
  margin-left: 21px;
  font-family: "Roboto", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
}
.header__right {
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  padding-bottom: 132px;
}
.nav {
  font-weight: 500;
  line-height: 1.5;
}
.nav__link {
  margin-right: 58px;
  position: relative;
  color: #717784;
  text-decoration: none;
}
.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #717784;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.nav__link:hover::after {
  width: 100%;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0.9em 3.7em;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  background: #9B9BCA;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  white-space: nowrap;
  transition: background-color 0.2s linear, color 0.2s linear;
  /* Modificators */
}
.btn:hover,
.btn:hover {
  color: #e6e6e6;
  background-color: #7a7ab8;
}
.btn--red {
  background-color: #F01F35;
}
.btn--red:hover,
.btn--red:focus {
  background-color: #ce0e22;
}
.btn--form {
  border-radius: 5px;
  font-family: "Rubik", serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.intro {
  display: flex;
  align-items: center;
  width: 100%;
  height: 737px;
  background: #E3E3E3 url("../images/intro-bg.jpg") center no-repeat;
  background-size: cover;
}
.intro__inner {
  width: 100%;
  max-width: 750px;
  padding-top: 120px;
}
.intro__title {
  width: 100%;
  max-width: 548px;
  margin-bottom: 30px;
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  color: #696A86;
}
.intro__text {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
  color: #696A86;
}
.section {
  padding: 100px 0;
}
.section__header {
  width: 100%;
  max-width: 746px;
  margin: 0 auto 100px;
  text-align: center;
}
.section__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
}
.section__text {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
}
.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__item {
  width: 24%;
  padding: 25px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  transition: border-color 0.2s linear;
}
.services__item:hover,
.services__item:focus {
  border-color: #9D9D9D;
}
.services__icon {
  width: 65px;
  height: 65px;
}
.services__title {
  margin-top: 12px;
  font-size: 26px;
  line-height: 1.8;
  font-weight: 500;
}
.services__text {
  margin-top: 7px;
  font-size: 17px;
  line-height: 1.4;
}
.review {
  display: inline-block;
  width: 100%;
  height: 780px;
  margin: 0;
  background: #B8BCC7 url("../images/review-bg.jpg") center no-repeat;
  background-size: cover;
}
.review__inner {
  width: 553px;
  height: 275px;
  display: flex;
  align-items: center;
  margin: 50px 0 0 50px;
}
.review__title {
  font-family: "PT Serif", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}
.features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.features__item {
  width: 100%;
  max-width: 442px;
  height: 545px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #9D9D9D 0%, #D2D2D2 50%, #fff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}
.features__preview {
  display: inline-block;
  width: 100%;
  max-width: 339px;
  height: 149px;
  margin-top: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.features__image {
  width: 100%;
  transform: translateY(-17%);
}
.features__title {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 500;
}
.features__text {
  display: inline-block;
  width: 100%;
  max-width: 339px;
  margin-top: 18px;
  font-size: 18px;
  line-height: 1.6;
}
.feature__button {
  position: absolute;
  bottom: -28px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.signin__title {
  margin-bottom: 100px;
  font-family: "PT Serif", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  text-align: center;
}
.form {
  width: 100%;
  max-width: 708px;
  height: 566px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 103px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(149, 149, 201, 0.4);
}
.form__group {
  width: 400px;
}
.form__label {
  font-size: 18px;
  line-height: 2.2;
  color: #626780;
}
.form__input {
  display: block;
  width: 100%;
  height: 60px;
  margin: 5px 0 30px;
  padding: 11px 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.2;
  color: #626780;
  background-color: #fff;
  border: 1px solid #9595C9;
  border-radius: 5px;
  box-shadow: none;
}
.form__input::placeholder {
  font-family: "Rubik", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 2.2;
  color: #9D9D9D;
}
.form__input:focus {
  border-width: 2px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(149, 149, 201, 0.2);
  outline: none;
}
.form__footer-list {
  display: flex;
  padding: 0;
  margin: 30px 0 0 0;
  list-style-type: none;
}
.form__footer-list span {
  font-size: 20px;
  font-weight: 300;
  line-height: 2.2;
  color: #626780;
}
.form__footer-list a {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.2;
  color: #F01F35;
  text-decoration: none;
}
.form__footer-list a:hover {
  text-decoration: underline;
}
.footer {
  width: 100%;
  background-color: #9B9BCA;
}
.footer__inner {
  padding: 55px 0 45px;
}
.footer__nav {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 auto 80px;
}
.footer__nav li {
  list-style-type: none;
}
.footer__nav__list {
  padding: 0;
  margin: 0;
}
.footer__nav__caption {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
}
.footer__nav__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #E5E5E5;
  text-decoration: none;
}
.footer__nav__link:hover {
  text-decoration: underline;
}
.footer__row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
.social__item {
  display: inline-block;
  margin: 0 16px;
}
.social__link {
  text-decoration: none;
}
.social__icon {
  fill: #ff0000;
  width: 36px;
  height: 36px;
  vertical-align: bottom;
}
