<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="sidebar image">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <div class="profile__avatar">
                <img src="https://placehold.it/100" alt="avatar image">
                <div class="profile__name">Дмитрий Валак</div>
                <div class="profile__prof">блог front-end разработчика</div>
            </div>

            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/instagram.svg" alt="instagram icon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar__footer"></div>
</aside>