// main: ../style.less

.features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features__item {
  width: 100%;
  max-width: 442px;
  height: 545px;

  border: 1px solid transparent;
  border-radius: 10px;
  // border: 1px solid #9D9D9D;;
  // border-image: linear-gradient(to bottom, #9D9D9D 0%, #D2D2D2 50%, @white) 1;
  background-image: linear-gradient(@white, @white), linear-gradient(to bottom, #9D9D9D 0%, #D2D2D2 50%, @white);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .1);

  text-align: center;
  position: relative;
}

.features__preview {
  display: inline-block;
  width: 100%;
  max-width: 339px;
  height: 149px;
  margin-top: 60px;

  border-radius: 10px;

  overflow: hidden;
}

.features__image {
  width: 100%;

  transform: translateY(-17%);
}

.features__title {
  margin-top: 30px;

  font-size: 32px;
  font-weight: 500;
}

.features__text {
  display: inline-block;
  width: 100%;
  max-width: 339px;
  margin-top: 18px;

  font-size: 18px;
  line-height: 1.6;
}

.feature__button {
  position: absolute;
  bottom: -28px;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);
}