// main: ../style.less

.footer {
  width: 100%;
  padding: 55px 0 45px;

  background-color: @secondary;
}

.footer__inner {
  // padding: 55px 0 45px;
}

.nav-footer {
  // width: 100%;
  // max-width: 1000px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  // justify-items: center;
  // margin: 0 auto 80px;
  margin-bottom: 80px;

  & li {
    list-style-type: none;
  }
}

.nav-footer__list {
  padding: 0;
  margin: 0;
}

.nav-footer__caption {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: @white;
}

.nav-footer__link {
  font-size: 16px;
  line-height: 1.5;
  color: #E5E5E5;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer__row {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
}

.copyright {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: @white;
  font-weight: 1.8;
}

.footer__logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: @white;
  font-weight: 1.1;
}