// main: ../style.less

.footer {
  width: 100%;
  padding: 55px 0 45px;

  background-color: @secondary;

  &__row {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 15px;
    align-items: center;
  }

  &__logotype {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    justify-items: end;
    align-items: center;
  }

  &__logo {
    font-family: RammettoOne;
    color: @white;
    font-size: 20px;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: @white;
    font-weight: 1.1;
  }
}

.copyright {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: @white;
  font-weight: 1.8;
}

.nav-footer {
  max-width: 842px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto 80px;


  &__list--center {
    justify-self: center;
  }

  &__caption {
    margin-bottom: 12px;

    font-size: 20px;
    color: @white;
    font-weight: 500;
    line-height: 1.5;
  }

  &__link {
    font-size: 16px;
    color: #E5E5E5;
    line-height: 1.5;

    text-decoration: none;

    @media (any-hover: hover),
    (pointer: fine) {

      &:hover {
        text-decoration: underline;
      }
    }
  }
}