// main: ../style.less

.header {
  width: 100%;
  padding: 22px 0;

  // background-color: rgba(#C4C4C4, 0.1);
  // background-color: rgba(196, 196, 196, 0.1);
  background-color: fade(#C4C4C4, 10%);

  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;

  transform: translateX(-50%);

  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 72px;
    height: 72px;
  }

  &__title {
    margin-left: 21px;

    font-family: "Roboto", serif;
    color: #505050;
    font-size: 22px;
    line-height: 1.2;
  }
}