// main: ../style.less

.intro {
  width: 100%;
  min-height: 737px;
  padding-bottom: 120px;

  background: #E3E3E3 url("../images/intro-bg.jpg") 50% / cover no-repeat;

  &__inner {
    min-height: calc(737px - 120px);
    display: flex;
    align-items: flex-end;
  }

  &__title {
    max-width: 548px;
    margin-bottom: 30px;

    font-family: "DMSerifDisplay", serif;
    color: #696A86;
    font-size: 56px;
  }

  &__text {
    max-width: 751px;
    margin-bottom: 30px;

    color: #696A86;
    font-size: 20px;
    line-height: 1.5;
  }
}