// main: ../style.less

.nav {
  font-weight: 500;
  line-height: 1.5;

  &__items {
    display: flex;
  }

  &__item {
    margin-right: 58px;
  }

  &__link {
    color: #717784;
    font-weight: 500;
    text-decoration: none;

    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background-color: #717784;

      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: 1;

      transition: width 0.2s linear;
    }

    &:hover {

      &::after {
        width: 100%;
      }
    }
  }
}