// main: ../style.less

.nav {
  font-weight: 500;
  line-height: 1.5;

  &__items {
    display: flex;
    align-items: center;
    // column-gap: 58px;
    // flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    column-gap: clamp(1rem, 5.11vw - 0.022rem, 3.625rem);
    // column-gap: clamp(1rem, 5.11vw, 3.625rem);
    // column-gap: clamp(1rem, 5vw, 3.625rem);
  }

  &__item {
    // margin-right: 32px;
  }

  &__link {
    color: #717784;
    font-weight: 500;
    text-decoration: none;

    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background-color: #717784;

      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: 1;

      transition: width 0.2s linear;
    }

    @media (any-hover: hover),
    (pointer: fine) {
      &:hover {

        &::after {
          width: 100%;
        }
      }
    }
  }
}