// main: ../style.less

.review {
  width: 100%;
  min-height: 780px;

  background: #B8BCC7 url("../images/review-bg.jpg") 50% / cover no-repeat;

  &__inner {
    max-width: 553px;

    position: relative;
  }

  &__title {
    font-family: "PTSerif", serif;
    color: @black;
    font-size: 48px;
    line-height: 1.4;

    position: absolute;
    top: 120px;
    left: 54px;
  }
}