// main: ../style.less

.signin {
  padding-bottom: 132px;

  &__title {
    margin-bottom: 100px;

    font-family: "PTSerif", serif;
    color: #402B2B;
    font-size: 48px;
    line-height: 1.4;

    text-align: center;
  }
}