<!DOCTYPE html>
<html lang="en">
    {{> head }}
<body>

    <div class="page" id="page">
        <!-- Header -->
        <div class="container">
            {{> header }}
        </div>

        <!-- Main -->
        <main class="main">
            <div class="container">
                {{> body }}
            </div>
        </main>

        <!-- Header -->
        <div class="container">
            {{> footer }}
        </div>
    </div>

    <!-- JS -->
    <script src="assets/js/app.min.js"></script>
</body>
</html>