<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <nav class="footer__nav">
                <ul class="footer__nav__list">
                    <li class="footer__nav__item">
                        <h4 class="footer__nav__title">Learn More</h4>
                    </li>

                    <li class="footer__nav__list">
                        <a href="#">Sell Fast</a>
                    </li>

                    <li class="footer__nav__list">
                        <a href="#">Buy Now</a>
                    </li>

                    <li class="footer__nav__list">
                        <a href="#">Membership</a>
                    </li>

                    <li class="footer__nav__list">
                        <a href="#">Banner Ads</a>
                    </li>

                    <li class="footer__nav__list">
                        <a href="#">Promotions</a>
                    </li>
                </ul>
            </nav>

            <div class="copyright">

            </div>
        </div><!-- ./footer__inner -->
    </div><!-- ./container -->
</footer><!-- ./footer -->