<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <nav class="footer__nav">
                <ul class="footer__nav__list">
                    <li>
                        <h4 class="footer__nav__caption">Learn More</h4>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Sell Fast</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Buy Now</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Membership</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Banner Ads</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Promotions</a>
                    </li>
                </ul>

                <ul class="footer__nav__list">
                    <li>
                        <h4 class="footer__nav__caption">Help & Support</h4>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">FAQ</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Stay Safe</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Contact us</a>
                    </li>
                </ul>

                <ul class="footer__nav__list">
                    <li>
                        <h4 class="footer__nav__caption">Social</h4>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Blog</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Facebook</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Twitter</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Youtube</a>
                    </li>
                </ul>

                <ul class="footer__nav__list">
                    <li>
                        <h4 class="footer__nav__caption">About us</h4>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">About us</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Career</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Terms and Conditions</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a class="footer__nav__link" href="#">Sitemap</a>
                    </li>
                </ul>
            </nav>

            <div class="footer__row">
                <div class="copyright">
                    <span>Copyright @ 2019</span>
                </div>

                <div class="social">
                    <div class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <img class="social__icon" src="assets/images/facebook.svg" alt="facebook icon">
                        </a>
                    </div>

                    <div class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <!-- <img class="social__icon" src="assets/images/x.svg" alt="x icon"> -->

                            <svg class="social__icon">
                                <use xlink:href="#x"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <img class="social__icon" src="assets/images/instagram.svg" alt="instagram icon">
                        </a>
                    </div>
                </div>

                <div class="footer__logo">
                    <img src="assets/images/DW.svg" alt="logo">
                    <span class="footer__text">Dreammaker</span>
                </div>
            </div>
        </div><!-- ./footer__inner -->
    </div><!-- ./container -->
</footer><!-- ./footer -->