<footer class="footer">
    <div class="footer__container">
        <div class="footer__inner">
            <div class="footer__nav  nav-footer">
                <ul class="nav-footer__list">
                    <li class="nav-footer__item">
                        <h4 class="nav-footer__caption">Learn More</h4>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Sell Fast</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Buy Now</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Membership</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Banner Ads</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Promotions</a>
                    </li>
                </ul>

                <ul class="nav-footer__list">
                    <li class="nav-footer__item">
                        <h4 class="nav-footer__caption">Help & Support</h4>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">FAQ</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Stay Safe</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Contact us</a>
                    </li>
                </ul>

                <ul class="nav-footer__list  nav-footer__list--center">
                    <li class="nav-footer__item">
                        <h4 class="nav-footer__caption">Social</h4>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Blog</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Facebook</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Twitter</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Youtube</a>
                    </li>
                </ul>

                <ul class="nav-footer__list">
                    <li class="nav-footer__item">
                        <h4 class="nav-footer__caption">About us</h4>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">About us</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Career</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Terms and Conditions</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Privacy Policy</a>
                    </li>
                    <li class="nav-footer__item">
                        <a class="nav-footer__link" href="#">Sitemap</a>
                    </li>
                </ul>
            </div><!-- /.nav-footer -->

            <div class="footer__row">
                <div class="copyright">
                    <span>Copyright @ 2019</span>
                </div>

                <ul class="social">
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer" aria-label="Go to facebook">
                            <svg class="social__icon">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer" aria-label="Go to twitter">
                            <svg class="social__icon" role="img">
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer" aria-label="Go to instagram">
                            <svg class="social__icon" role="img">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

                <div class="footer__logotype">
                    <span class="footer__logo">DW</span>
                    <span class="footer__text">Dreammaker</span>
                </div>
            </div>
        </div><!-- /.footer__inner -->
    </div><!-- /.footer__container -->
</footer><!-- /.footer -->