<header class="header">
    <div class="header__container">
        <div class="header__inner">
            <div class="header__left">
                <div class="header__logo">
                    <img src="assets/images/DW-logo.svg" alt="Dreammaker logo">
                </div>
                <span class="header__title">
                    Dreammaker
                </span>
            </div>

            <div class="header__right">
                <nav class="nav">
                    <ul class="nav__items">
                        <li class="nav__item">
                            <a class="nav__link" href="#" data-scroll="#home">Home</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">About us</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Service</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Setting</a>
                        </li>
                        <!-- <li class="nav__item">
                            <button class="btn" type="button">Contact us</button>
                        </li> -->
                    </ul>
                </nav>

                <button class="btn" type="button">Contact us</button>
            </div>
        </div><!-- /.header__inner -->
    </div><!-- /.header__container -->
</header><!-- /.header -->
