<header class="header">
    <div class="header__left">
        <div class="header__logo">
            <img src="assets/images/DW-logo.svg" alt="Dreammaker logo">
        </div>
        <div class="header__title">
            Dreammaker
        </div>
    </div>

    <div class="header__right">
        <nav class="nav">
            <a class="nav__link" href="#" data-scroll="#home">Home</a>
            <a class="nav__link" href="#">About us</a>
            <a class="nav__link" href="#">Service</a>
            <a class="nav__link" href="#">Setting</a>
            <button class="btn" type="button">
                <span>Contact us</span>
            </button>
        </nav>
    </div>
</header>